<div class="sidebar">
    <p class="sidebar-menu-item"><i class="fas fa-home fa-lg"></i> <b>Admin Home</b></p>
    <p class="sidebar-menu-item"><i class="fas fa-home fa-lg"></i> <b>Users</b></p>
    <p class="sidebar-menu-item"><i class="fas fa-home fa-lg"></i> <b>Roles</b></p>
    <p class="sidebar-menu-item"><i class="fas fa-home fa-lg"></i> <b>Store Items</b></p>
</div>
