<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@model RockMarketPlace.Models.Account

@{
    Layout = null;
}

<body id="login-body">
    <div class="login-page">
        <div class="login-form">
            <h2 id="signup-title">Sign Up</h2>
            <form asp-action="SignUp" class="signup-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Username" value="" placeholder="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <input asp-for="Account_Type" value="" placeholder="Account Type" class="form-control" />
                    <span asp-validation-for="Account_Type" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input asp-for="Email" value="" placeholder="Email Address" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Phone" value="" placeholder="Phone Number" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Street" value="" placeholder="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="City" value="" placeholder="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="State" value="" placeholder="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <button id="signup-button">create</button>
                <div>
                    <p class="message" id="message-redirect">Already registered? <a asp-action="Login" id="message-action">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</body>