<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body class="auth-body">
    <div class="auth-page">
        <div class="auth-form">
            @RenderBody()
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}