@{
    ViewData["Title"] = "Store";
}
<div class="main-container">
    <center>
        <h1>Under Construction</h1>

        <p>This page will be used for buying Rocks. Will have extra features for Admins to add/remove/edit items.</p>
    </center>
</div>
