@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h2 id="login-title">@ViewData["Title"]</h2>
<form id="account" method="post">
    <input asp-for="Input.Email" value="" placeholder="Username" class="form-control" />
    <input asp-for="Input.Password" value="" placeholder="Password" class="form-control" />
    <button id="login-button">login</button>
    <span class="text-danger" id="error-block">
        @Html.ValidationSummary(true)
    </span>
    <p class="message" id="message-redirect">Not registered? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" id="message-action">Register as a new user</a></p>
</form>
