@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap');

/***********************************************************************/
/*Classes Start*/
/***********************************************************************/
.auth-body {
    background-image: linear-gradient(rgba(0,0,0,.62), rgba(0,0,0,.62)), url('../images/Account Pages/login-background.jpg');
    background-size: cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.auth-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.auth-form {
    position: relative;
    z-index: 1;
    background: rgba(0, 99, 148, .25);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .auth-form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .auth-form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
    }

        .auth-form button:hover, .auth-form button:active, .auth-form button:focus {
            background: #43A047;
        }

    .auth-form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .auth-form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

.dropdown-menu, dropdown-menu-lg-right, dropdown-secondary {
    margin-top: 7px;
    background-color: rgb(33, 42, 57);
    min-width: 3rem;
    color: white;
    margin-right: -100px;
}

.dropdown-item {
    color: white;
}

    .dropdown-item:hover:first-child {
        text-decoration: none;
        background-color: transparent !important;
    }

.main-container {
    font-family: "Roboto", sans-serif;
    color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

    .main-container table {
        color: white;
    }

    .main-container h1, h2, h3, h4, h5 {
        color: white;
        font-weight: bold;
    }

    .main-container .input-group {
        width: 500px;
        font-weight: bold;
    }

        .main-container .input-group:hover input[type=text] {
            border-bottom-color: dodgerblue;
        }


        .main-container .input-group input[type=text] {
            height: 60px;
            background-color: rgba(0, 0, 0, .10);
            border-color: rgba(0, 0, 0, .10);
            border-bottom-color: dimgrey;
            border-bottom-width: 6px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            color: white;
            font-weight: bold;
        }


        .main-container .input-group .input-group-append span {
            background-color: rgba(0, 0, 0, .10);
            border-color: green;
            border-bottom-color: green;
            border-bottom-width: 6px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            color: white;
            font-weight: bold;
        }

    .main-container input[type=tel], .main-container input[type=email], .main-container input[type=password] {
        height: 60px;
        width: 500px;
        background-color: rgba(0, 0, 0, .10);
        border-color: rgba(0, 0, 0, .10);
        border-bottom-color: dimgray;
        border-bottom-width: 6px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: white;
        font-weight: bold;
    }

        .main-container input[type=tel]:hover, .main-container input[type=email]:hover, .main-container input[type=password]:hover {
            border-bottom-color: dodgerblue;
        }

        .main-container input[type=tel]:focus, .main-container input[type=email]:focus, .main-container input[type=password]:focus {
            border-bottom-color: dodgerblue;
            box-shadow: none;
        }


.modal-content {
    width: 800px;
    top: 200px;
    left: -150px;
    background-color: rgb(41, 58, 77);
}

.modal-header {
    background-color: rgb(33, 42, 57);
}


.sidebar {
    margin-left: 10px;
    line-height: 2.8;
    color: white;
    padding-top: 20px;
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    position: sticky;
    top: 3em;
}

.sidebar-menu-item {
    padding-left: 20px;
    white-space: nowrap;
}

    .sidebar-menu-item:hover {
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 50px;
        background-color: rgb(37, 47, 65);
    }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/***********************************************************************/
/*IDs Start*/
/***********************************************************************/
#layout-container {
    padding-top: 65px;
    min-height: 100%;
}

#layout-middle-col {
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
}

#layout-body {
    background-color: rgb(41, 58, 77);
}

#layout-navbar {
    background-color: rgb(33, 42, 57);
}

#layout-footer {
    background-color: rgb(33, 42, 57);
    position: fixed;
}

#login-avatar {
    height: 30px;
    width: 30px;
}

#logoutForm {
    padding: 0px;
}

#error-block ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

#login-title {
    color: white;
}

#login-button {
    background: #00aaff;
}

#signup-title {
    color: white;
}

#signup-button {
    background: #00aaff;
}

#message-redirect {
    color: #d6f1ff;
}

#message-action {
    color: #00aaff;
}

#input-locked-green {
    pointer-events: none;
}

    #input-locked-green input[type=text] {
        border-color: forestgreen;
    }

    #input-locked-green .input-group input[type=text] {
        border-color: forestgreen;
    }

#input-locked-red {
    pointer-events: none;
}

    #input-locked-red input[type=text] {
        border-color: darkred;
    }

    #input-locked-red .input-group input[type=text] {
        border-color: darkred;
    }

    #input-locked-red .input-group-append span {
        border-color: darkred;
    }

#main-btn {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 50px;
    background-color: rgb(0, 40, 77);
    font-weight: bold;
    text-decoration: none;
}

    #main-btn:hover {
        background-color: rgb(0, 66, 128);
    }

#main-btn-danger {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 50px;
    background-color: rgb(179, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

    #main-btn-danger:hover {
        background-color: rgb(153, 0, 0);
    }

#verify-code-input {
    height: 60px;
    width: 500px;
    background-color: rgba(0, 0, 0, .10);
    border-color: rgba(0, 0, 0, .10);
    border-bottom-color: dimgray;
    border-bottom-width: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    font-weight: bold;
}

    #verify-code-input:hover {
        border-bottom-color: dodgerblue;
    }

    #verify-code-input:focus {
        border-bottom-color: dodgerblue;
        box-shadow: none;
    }
